@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --main-blue: #45F0DF;
    --violet-blue: #4472CA;
    --deepsky-blue: #3ABEFF;
    --main-violet: #5E7CE2;
    --space-cadet: #2B2D42;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.destination-page {
    background-color: var(--space-cadet);
}



nav {
    background-color: var(--violet-blue);
    color: white;
}

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}

.navbar-list a {
    text-decoration: none;
    color: white;
}

.navbar-list a:hover {
    color: var(--main-blue);
}

nav img {
    width: 150px;

}

.choosen-destination {
    background-image: url("../assets/rome.jpg");
    background-repeat: no-repeat;
    display: flex;
    background-position: 80%;
    justify-content: start;
    height: 700px;
    color: white;
    align-items: center;
    font-size: 3rem;
}

.choosen-destination h2 {
    margin-left: 1rem;
}

.op-list {
    margin-top: 1rem;

}

.tour-operator {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--deepsky-blue);
    margin-bottom: 1rem;
    margin-left: 5%;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    transition: transform .2s;

}

.tour-operator:hover {
    transform: scale(1.01);
    border: 2px solid var(--main-blue);
}


.tour-operator img {
    width: 150px;
}

.admin-page {
    background-color: var(--space-cadet);
    color: white;
}

.footer-details {
    display: flex;
    background-color: var(--violet-blue);
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.logo-acc {
    width: 400px;
}

.accueil {
    display: flex;
    justify-content: center;
}

.bak-col {
    background-color: red;
}